# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/.next/cache/
/out/

# production
/build

# build artifacts
dist/
coverage/
.turbo/
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files
# .env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store

# misc
.cache/
*.swp
*.swo